<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
	<test name="Test" parallel="methods" thread-count="2">
		<listeners>
			<listener class-name="appfactory.tests.Listener"></listener>
		</listeners>
		<packages>
			<package name="appfactory.multitenant.*"></package>
		</packages>
	</test> <!-- Test -->
</suite> <!-- Suite -->